<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
</head>
<body>
    <canvas class="canvas"></canvas>
    <div class="container">
        <div class="title">Интерактивный<br>
            Музей Современного<br>
            Искусства
        </div>
        <div class="subtitle">Алексея Сергиенко</div>
    </div>
    <div class="next">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti earum eius ipsam nesciunt placeat praesentium quidem, voluptates? Ab, animi asperiores consectetur, deserunt est, labore pariatur repellendus similique unde veniam voluptates!</p>
    </div>
</body>
</html>
